<!-- Author: Rahul Parmar -->
<!-- Student ID: 301279290-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About me</title>
    <link rel="stylesheet" href="/public/stylesheets/about.css" />
  </head>
  <body>
    <header><%- include('partials/navbar.ejs') %></header>
    <table>
      <th>
        <td>
          <img class="img" src="/public/images/profile.jpeg" alt="profile" />
          <h1 style="color:orange;">Rahul Parmar</h1>
        </td>
        <td class="info">
          <p style="color: grey;">
            Namaste!<br>
            My name is Rahul Parmar, 
            a dedicated software developer known for my problem-solving techniques and <br>passion for cutting-edge technology. 
            With a strong foundation in Web development and machine learning, I've contributed to a variety of projects, 
            including DigiVoters, Food delivery and Online eCommerce website.</p>
            <p style="color: grey;">
              Good see someone who has the curiosty to know me. My passion, dedication and fun is computer science. 
              Well fun is many things..But anyways welcome to my own world of imagination and a peace. Here you can 
              find all aboout me and please fill the form to let me have your feedback. Thank you. 
            </p>
            <p style="color: grey;">
            My commitment to staying current with emerging technologies and my ability to collaborate effectively with 
            cross-functional teams make me an asset to any project. I'm excited about the potential of technology to drive 
            innovation, and I'm eager to bring my skills to your team to help achieve your software development goals.
          </p>
        </td>
      </th>
    </table>
    <center>
    <a href="/resume" class="download-button">My Resume</a>
  </center>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
